@namespace OneToMany_task.ViewModels.Sliders
@model SliderCreateVM


<div class="container mt-5">
    <h1>@ViewBag.filename</h1>
    <form class="form-sample" method="post" asp-action="Create"enctype="multipart/form-data">
        <div class="form-group">
            <label>Slider</label>
            <input asp-for="Images" class="form-control" />
            <span class="text-danger"asp-validation-for="Images"></span>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <a asp-action="Index" class="btn btn-primary text-white">Back</a>
    </form>
</div>


